# 行分割符应该在 .gitattributes 中指定
root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = false
trim_trailing_whitespace = true
charset = utf-8

[*.{yml,yaml}]
indent_size = 2
