# The line splitter should be specified in `.gitattributes`
root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = false
trim_trailing_whitespace = true
charset = utf-8

[*.{yml,yaml,json,clang-format,clang-tidy}]
indent_size = 2
