name: windows

on:
  pull_request:
    paths:
      - 'sese/**'
      - 'CMakeLists.txt'
      - 'vcpkg.json'
  workflow_dispatch:

jobs:
  test:
    runs-on: windows-2022
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.2

      - name: Setup Python Venv
        run: |
          python -m venv venv
          venv/Scripts/Activate.ps1
          pip install -r ${{ github.workspace }}/requirements.txt

      - name: Setup Ninja
        uses: ashutoshvarma/setup-ninja@master
        with:
          version: 1.11.1

      - name: Requiring CL
        uses: ilammy/msvc-dev-cmd@v1.13.0

      - name: Restore Vcpkg Cache
        uses: actions/cache@v4.1.2
        with:
          path: ${{ github.workspace }}/vcpkg-archive
          key: vcpkg-windows-x64

      # https://stackoverflow.com/questions/77295748/unrecognized-virtual-environment-in-github-actions-with-cmake
      - name: Configure CMake
        working-directory: ${{ github.workspace }}
        env:
          VCPKG_ROOT: C:/vcpkg
        run: >
          mkdir -Force vcpkg-archive &&
          venv/Scripts/Activate.ps1 &&
          Python3_ROOT_DIR= cmake -G Ninja
          -DCMAKE_BUILD_TYPE=Release
          -DCMAKE_TOOLCHAIN_FILE=${{ env.VCPKG_ROOT }}/scripts/buildsystems/vcpkg.cmake
          -DSESE_BUILD_TEST=ON
          -DSESE_USE_ARCHIVE=ON
          -Bbuild

      - name: Build
        working-directory: ${{ github.workspace }}
        run: cmake --build build -- -j 2

      - name: Test
        working-directory: ${{ github.workspace }}
        run: |
          venv/Scripts/Activate.ps1
          build/sese/test/AllTestsInMain --gtest_filter=-TestMaria*:TestPostgres*:TestSqlite* --gtest_output="xml:build/test_report.xml"

      - name: Test report
        uses: dorny/test-reporter@v1.9.1
        if: success() || failure()
        with:
          name: JEST Tests on Windows
          path: build/test_report.xml
          reporter: jest-junit
