name: windows-package

on:
  workflow_dispatch:
  workflow_call:

jobs:
  x64-windows-package:
    runs-on: windows-2022
    strategy:
      matrix:
        triplet: ['x64-windows', 'x64-windows-static']
    env:
      VCPKG_BINARY_SOURCES: 'clear;x-gha,readwrite'
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.2

      - name: Requiring CL
        uses: ilammy/msvc-dev-cmd@v1.13.0

      - name: Export GitHub Actions cache environment variables
        uses: actions/github-script@v6
        with:
          script: |
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');

      - name: Setup Python
        uses: actions/setup-python@v5.1.0
        with:
          python-version: '3.11'

      - name: Setup portfile.cmake
        run: |
          pip install -r ${{ github.workspace }}/requirements.txt
          python ${{ github.workspace }}/scripts/update_portfile.py

      - name: Config
        working-directory: ${{ github.workspace }}/package
        run: >
          cmake
          -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake
          -DVCPKG_TARGET_TRIPLET=${{ matrix.triplet }}
          -B build

      - name: Build
        working-directory: ${{ github.workspace }}/package
        run: >
          cmake --build build

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        if: ${{ matrix.triplet == 'x64-windows-static' }}
        with:
          name: main
          path: ${{ github.workspace }}/package/build/Debug/main.exe